[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
simplegmail = "*"
beautifulsoup4 = "*"
flask = "*"
requests = "*"
requests-oauthlib = "*"
flask-sqlalchemy = "*"
flask-login = "*"
python-dotenv = "*"
pymysql = "*"

[dev-packages]

[requires]
python_version = "3.9"
