{%- if current_user.is_authenticated -%}
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
        <li><strong>Почта</strong>: {{current_user.email}}</li>
        <li><strong>Имя</strong>: {{current_user.name}}</li>
        <li><strong>Telegram ID</strong>: {{current_user.telegram_id}}</li>
        <li><strong>token</strong>: {{current_user.tokens}}</li>
        <li><a href="{{url_for('logout')}}">Выйти</a></li>
    </ul>
</div><!-- /.navbar-collapse -->
{%- else -%}
<!--<a href="{{url_for('login')}}" class="btn btn-primary btn-block" style="padding: 15px 0;">Войти</a>-->
<p>Вы не авторизированы!</p>
{%- endif -%}
